.ctaBar {
  width: calc(100% + (var(--cardPadding) * 2));
  transform: translateX(calc(var(--cardPadding) * -1));
  border-top: 1px solid var(--GreyCold50, #f1f3f4);
}

.avatar :global img {
  max-width: unset;
}

