@value cardpaddingX: calc(var(--cardPadding, 15px) + 5px);


.ctaBar {
  width: calc(100% + (cardpaddingX * 2));
  transform: translateX(calc(cardpaddingX * -1));
  border-top: 1px solid var(--GreyCold50, #f1f3f4);
}

.avatar {
  height: fit-content;
}

.avatar :global img {
  max-width: unset;
}

