.wrapper {
  border: 1px solid var(--ContentBorder, #e4e7e8);
  box-shadow: 0px 1px 0px #1A1A1A14;
  width: fit-content;
  padding: var(--cardPadding, 20px);
}

.wrapper:global.md {
    padding: 1rem;
}
.wrapper:global.sm {
    padding: 0.75rem;
}
