@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght@8..144,25..151,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom Typography */
  .heading-1 {
    font-family: Roboto Flex;
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 30px;
  }
  .heading-2 {
    font-family: Roboto Flex;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 24px;
  }
  .heading-3 {
    font-family: Roboto Flex;
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 18px;
    text-align: left;
  }
  .heading-4 {
    font-family: Roboto Flex;
    font-size: 1rem;
    font-weight: 800;
    line-height: 16px;
  }

  .body {
    font-family: Roboto Flex;
    font-size: 1rem;
    font-weight: 500;
    line-height: 18.75px;
  }
  .body-medium {
    font-family: Roboto Flex;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 14.06px;
  }
  .body-small {
    font-family: Roboto Flex;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 16.41px;
  }
  .body-overline {
    font-family: Roboto Flex;
    font-size: 1rem;
    font-weight: 500;
    line-height: 18.75px;
  }

  .body-overline-small {
    font-family: Roboto Flex;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 14.06px;
  }
}

:root {
  /* Figma Colors */
  --Primary: #4426d9;
  --MajorelleBlue50: #ece9fb;
  --MajorelleBlue700: #361fad;
  --RedCrayola50: #fce8ec;
  --RedCrayola700: #b61634;
  --LightBlue50: #e5f4ff;
  --LightBlue700: #0077cc;
  --MandarinOrange50: #fdede7;
  --MandarinOrange700: #c03f0c;
  --Turquoise50: #e9fbfb;
  --Turquoise700: #1fadad;
  --GreyCold50: #f1f3f4;

  --TextPrimary: #141c24;
  --TextSecondary: #5c6970;
  --TextLight: #5c6970;
  --ContentBorder: #e4e7e8;
  --Slate15: #dfdfdf;
  --ContentBase: #f9fafa;

  /* Figma Gradients */
  --PrimaryGradient: linear-gradient(102.78deg, #ece9fb 0.31%, #fdede7 82.87%);
  --PurpleGradient: linear-gradient(
    180deg,
    #ff0073 -85.89%,
    #811ab8 34.45%,
    #4426d9 100%
  );

  /* App specific guttering */
  --cardPadding: 15px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: content-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
