@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Typography */
@layer base {
  .heading-1 {
    font-family: Roboto Flex;
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
  }
  .heading-2 {
    font-family: Roboto Flex;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
  }
  .heading-3 {
    font-family: Roboto Flex;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    text-align: left;
  }
  .heading-4 {
    font-family: Roboto Flex;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
  }

  .body {
    font-family: Roboto Flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
  }
  .body-medium {
    font-family: Roboto Flex;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
  }
  .body-small {
    font-family: Roboto Flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
  }
  .body-overline {
    font-family: Roboto Flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
  }

  .body-overline-small {
    font-family: Roboto Flex;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
